<ion-header>
  <ion-toolbar>
    <ion-row class="ion-rowHead">
      <ion-col class="icon-back" size="1">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <h6>Profil</h6>
      </ion-col>
      <ion-col size="6">
        <ion-searchbar></ion-searchbar>
      </ion-col>
      <ion-col size="1" class="icon-compte">

       
          <ion-icon class="icon-compte" src="../../assets/icon/LOGO.svg"></ion-icon>
         

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row class="ion-cat" class="nn">

    
   
    <ion-col size="4">
      <ion-card>
        <img src="../../assets/icon/LOGO.svg" />
      </ion-card>

    </ion-col>
    <ion-col size="4">
    

      <ion-item lines="none">
        <ion-label position="stacked" class="label-input">Email</ion-label>
        <ion-input
          class="input-custom"
          type="text"
          placeholder="Awesome Input"
        ></ion-input>
      </ion-item>


      <ion-item lines="none">
        <ion-label position="stacked" class="label-input">Email</ion-label>
        <ion-input
          class="input-custom"
          type="text"
          placeholder="Awesome Input"
        ></ion-input>
      </ion-item>

    


    </ion-col>


    <ion-col size="4">
     
      <ion-item lines="none">
        <ion-label position="stacked" class="label-input">Email</ion-label>
        <ion-input
          class="input-custom"
          type="text"
          placeholder="Awesome Input"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked" class="label-input">Email</ion-label>
        <ion-input
          class="input-custom"
          type="text"
          placeholder="Awesome Input"
        ></ion-input>
      </ion-item>


    </ion-col>
    

    
  </ion-row>


  



 






</ion-content>