
    .ion-rowHead{
        
        box-shadow: 0px 10px 10px #EAECEE;
    }

    .icon-back{
        font-size: 38px;
        margin-left: 3px;
        margin-top: 4px;
    }
    .icon-compte{
        font-size: 43px;
        margin-left: 17px;
    }

.h1Head{
    font-weight: bolder;
    font-size:medium;
    color: black;
}

ion-searchbar {
    margin-top: 10px;
}

.nn {
    margin-top: 40px;
}

.label-input {
    font-size: medium;
    font-weight: bolder;
  }

  .input-custom {
    border: 1px solid #EAECEE;
    border-radius: 16px;
    margin-top: 10px;
    --padding-start: 11px;
    --padding-end: 36px;
    background-color: #EAECEE;
  }