
    .ion-rowHead{
        
        box-shadow: 0px 10px 10px #EAECEE;
    }

    .icon-back{
        font-size: 38px;
        margin-left: 3px;
        margin-top: 4px;
    }
    .icon-compte{
        font-size: 43px;
        margin-left: 17px;
    }

.h1Headd{
    font-weight: bolder;
    font-size: x-large;
    color: black;
    margin-right: 329px;
}

ion-select{
    color: transparent;
    height: 50px;
    width: 100px;
    background: url('../../assets/icon/LOGO.svg') no-repeat center;
}

ion-searchbar{
    margin-top: 5px;
}

ion-toggle {
    --background: #F4F6F6;
    --background-checked: #74B4C8;
    --handle-background: #74B4C8;
    --handle-background-checked: #2D93B2;
    margin-left: 150px;
    margin-top: 100px;
  }
  .hh {
      margin-top: 100px;
  }

  img {
      height: 50px;
      margin-left: 40px;
  }

