<ion-header>
  <ion-toolbar>
    <ion-row class="ion-rowHead">
      <ion-col class="icon-back" size="1">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <h6>Paiement</h6>
      </ion-col>
      <ion-col size="6">
        
      </ion-col>
      <ion-col size="1" class="icon-compte">
        <ion-select interface="popover">
          <ion-select-option value="nes">Profil </ion-select-option>
          <ion-select-option value="n64">Paramétres</ion-select-option>
          <ion-select-option value="ps">Log out</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <p class="ion-text-center h1Headd" >Payer : </p>
          <div>
            <img src="../../assets/icon/check2.jpg" />
          </div>
          <div>
            <h6 class="hh">En éspeces</h6>
            <h6 class="h">Carte crédit</h6>
          </div>
          <div>
            <ion-toggle></ion-toggle>
          </div>
         
        </div>
        
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- 
  <ion-row class="ion-cat">

    <ion-col size="6">


      <p class="ion-text-center h1Headd" >Payer : </p>

     
        <img src="../../assets/icon/check2.jpg" />
        <h6 class="hh">En éspeces</h6>
        <h6 class="hh">Carte crédit</h6>
        <ion-toggle></ion-toggle>
      
     
      
    </ion-col>

    <ion-col size="6" >


      

    </ion-col>

  </ion-row> -->


</ion-content>
