<ion-header>
  <ion-toolbar>
    <ion-row class="ion-rowHead">
      <ion-col class="icon-back" size="1">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="3">
        <h6>Aliments et boissson</h6>
      </ion-col>
      <ion-col size="6">
        <ion-searchbar></ion-searchbar>
      </ion-col>
      <ion-col size="1" class="icon-compte">

        <ion-item>
          <ion-label>Gaming</ion-label>
          <ion-icon class="icon-compte" src="../../assets/icon/LOGO.svg"></ion-icon>
          <ion-select interface="popover">
            <ion-select-option value="nes">Profil </ion-select-option>
            <ion-select-option value="n64">Paramétres</ion-select-option>
            <ion-select-option value="ps">Log out</ion-select-option>
          </ion-select>

          
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-text color="secondary">
   
    <p  class="ion-text-center h1Head"> Catégories </p>
  </ion-text>

  <ion-row class="ion-cat">
    <ion-col class="icon-back" size="3.8">
      <ion-card>
        <img src="../../assets/icon/LOGO.svg" />
      </ion-card>

    </ion-col>
    <ion-col size="3.8">
      <ion-card>
        <img src="../../assets/icon/LOGO.svg" />
      </ion-card>

    </ion-col>
    <ion-col size="3.8">
      <ion-card>
        <img src="../../assets/icon/LOGO.svg" />
      </ion-card>
    </ion-col>
    
  </ion-row>

</ion-content>